<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes 2023</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/transportes.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <header>
        <div class="holder">
            <div class="logo">
                <img src="/images/home/logo.png" width="160" alt="Transportes x">
                <h1>Transportes
                    <hr />
                    anónimos
                </h1>
                <nav>
                    <ul>
                        <li> <a class="activo" href="index.html">Home</a></li>
                        <li> <a href="nosotros.html">Nosotros</a></li>
                        <li> <a href="novedades.html">Novedades</a></li>
                        <li> <a href="contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>


    </header>

    {{{body}}}

    <footer>
        <div class="contenidoFooter">
            <div class="iconosRedes">

                <a href=""><i class="fa-brands fa-facebook"></i>Seguinos en Facebook</a>
                <a href=""><i class="fa-brands fa-instagram"></i>Seguinos en Instagram</a>
                <a href=""><i class="fa-brands fa-x-twitter"></i>Seguinos en Twitter</a>
            </div>
            <hr />
        </div>
        <p>Diseñado por Lucia Belmonte - &copy;2023 </p>
    </footer>

</body>